<%= simple_form_for [work_session, message], remote: true, class: "message_form", authenticity_token: true   do |f| %>
<div class="text_field_box">
  <%= f.input :content, as: :text, label: false %>
  <%= f.hidden_field :work_session_id, value: work_session.id %>
  <%= button_tag type: 'submit', class: "btn btn-primary", id: "message-send", controller: :messages, action: :create do %>
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  <% end %>
</div>
<% end %>



