/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */





.chosen-container-multi .chosen-choices {
border:none;
width: 400px;
height: 500px;

}

.icones-container {
  padding-top: 30px;
}

.icones{
background-size: 70px;
background-repeat: no-repeat;
margin : auto;
height: 90px;
width: 90px;
max-width: 100%;
}


#icone1{
 background-image: url('category.png')
}
#icone1:hover{
background-image: url("category1.png");
}

#icone2{
background-image: url("search.png");
}

#icone2:hover{
background-image: url("search1.png");
}

#icone3{
background-image: url("pair.png")

}

#icone3:hover{
background-image: url("pair1.png");
}

.description {
  padding-bottom: 40px;
}


.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}



.box {
  background:#FF895D;
  width: 100%;
}
.js-shadow {
  color: #fff;
  font-size: 3em;
  text-align: center;
  display: block;
  overflow: hidden;
  width: 100%;
}

#myh2{
// on en a besoin pour le how kombo works
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0;
}

.description {
  background-color: #D5EEFF;
}
