body {
  background-color: #D5EEFF;
}
.message_from_current_user {
  background-color: #196694;
  color: white;
  margin: 10px;
  padding: 3px;
  width: 70%;
  border-radius: 4px;
  p {
    margin: 0 5px 11px;
  }
}

.message_from_other_user {
  background-color: #F99471;
  color: white;
  margin: 10px;
  padding: 3px;
  width: 70%;
  margin-left: 28%;
  border-radius: 4px;
  p {
    margin: 0 5px 11px;
  }
}

.message_text {
  font-weight: lighter;
}


#chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 77vh;
}

#chat-content {
  height: 100vh;
  background-color: white;
  overflow-y:scroll;
}


#message_content {
  background: white;
  border-top: #E8E8E9 !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: transparent !important;
  font-weight: 200;
  padding-left: 0;

  &:focus {
    // outline: none;
    box-shadow: none;
    border-top: #E8E8E9 !important;
  }
}

.text_field_box {
  position: relative;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #D5EEFF;
}
