<div class="card">
  <h3 class="text-center">show user</h3>
  <div class="user-profile">
    <h3> <%= image_tag user.linkedin_picture_url %> <%= user.first_name %> <%= user.last_name %></h3>
  </div>
</div>
