<h1 class="text-center">show match</h1>
<hr>
<div class="container">
  <div class="row">
  <div class="test">
    <div class="col-xs-12 col-sm-8">
      <div class="card">
        <div class="brief text-center">
          <%= render 'brief' %>
        </div>
      </div>
       <div id="calendar"></div>
    </div>
     <div class="col-xs-12 col-sm-4">
      <div id="chat" class="card">
        <div id="chat-content"></div>
        <div class="brief text-center">
          <%= render 'chat' %>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>
<%= content_for(:after_js) do %>
  <script>

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
    });

  </script>
<% end %>

