// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@import "fullcalendar";
@import "chosen";


.myul {
  list-style:none;
  font-size:17px;
  text-align:center;
  background-color:#005689;
  padding : 20px;
}

.navbar-default .navbar-nav > li > a{
color: white;
padding-top: 0px;
padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
color: #D5EEFF;
}

.logo{
width: 60px;
margin-left: 20px;
}

.navbar-brand{
  padding : 0px 0px;
}

.navbar{
  background-color:#005689;
  padding : 10px;
  width: 100%;
  border : none;
  margin-bottom: 0px;
  opacity: 0.9;
}

.navelement {
  position:relative;
  display:inline;
}

.navelement > a {
  text-decoration:none;
  color:#333;
  display:inline-block;
  padding:10px;
}

.span {
  display:block;
  width:calc(100% - 23px);
  height:4px;
  background:#D5EEFF;
  position:absolute;
  left:10px;
  bottom:-10px;
}

.navelement > a:hover {
  color:#0088CC;
}

.navelement > a:hover ~ span {
   animation: underline 0.3s ease;
   background:#FF895D;
}

@keyframes underline{
  0% {
    width:0;
  }
  100% {
    width:calc(100% - 23px);
  }
}

.btn-mine{
text-transform: uppercase;
letter-spacing: 2px;
text-align: center;
font-size: 18px;
font-weight: 300px;
margin: 1em auto;
padding: 10px 20px;
width: 200px;
background:#FF895D;
border: 1px solid #FF895D;
color: #FFF;
overflow: hidden;
transition: all 0.5s;
}


.btn-mine:hover, .btn-mine:active{
text-decoration: none;
color: #FF4776;
border-color: #FF4776;
background: #FFF;
}
